<%= render "layouts/errors", :object => @attendee %>

<div id="attendee_form">
  <%= form_for [@event, @attendee], remote: true do |f| %>
  <div class="well">
    <%= f.text_field :name, placeholder: "name", autofocus: true %>
    <br>
    <%= f.email_field :email_address, placeholder: "email address"  %>
    <br>
    <%= f.submit "Submit" %>
    <%= link_to "Cancel", :back, {:class =>"btn btn-default"}%>
  </div>
  <% end %>
</div>
