<%= render "layouts/errors", :object => @event %>

<%= form_for @event do |f| %>
<div class="well">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :date %>
  <%= f.date_select :date %>
  <br>
  <%= f.submit "Submit" %>
</div>
<% end %>
