<%= render "layouts/errors", :object => @event %>
<%= form_for @event, id: "event_form",remote: true do |f| %>
<div class="well_event">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :date %>
  <%= f.date_select :date %>
  <br>
  <%= f.submit "Submit" %>
</div>
<% end %>
