<!DOCTYPE html>
<html>
  <head>
    <title>Inviter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  </head>

  <body>

      <div class="row">
        <div class="col-sm-3 sidebar">
          <div class="my-nav">
            <ul>
              <li><%=link_to "Inviter", root_path %></li>
              <li><%= link_to "About", root_path %></li>

              <% if current_user %>
              <li><%= link_to "My events", events_path %></li>
                <li><%= link_to "Add a new event", new_event_path %></li>
                <li><%= current_user.email %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, :method => "delete" %></li>
              <% else %>
                <li><%= link_to "Log In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
          <div class="social">
            <a href="https://www.instagram.com/sowmyadsl/" target="_blank"><img src="/assets/instagram.png" alt="instagram logo" id="instagram"></a>
            <a href="https://www.linkedin.com/in/sowmyadinavahi/" target="_blank"><img src="/assets/linkedin.png" alt="linkedin logo" id="linkedin"></a>
              <a href="https://www.pinterest.com/sowmyadsl/" target="_blank"><img src="/assets/pinterest.png" alt="pinterest logo" id="pinterest"></a>
            <a href="https://twitter.com/sowmyadsl" target="_blank"><img src="/assets/twitter.png" alt="twitter logo" id="twitter"></a>
          </div>
        </div>
        <div class="col-sm-9">
          <%= yield %>
          <p class="red"><%= flash[:alert] %></p>
          <p class="green"><%= flash[:notice] %></p>
        </div>

      </div>

  </body>
</html>
